<%- include('./partials/head') %>


<body>
	<% if (locals.user != undefined) { %>
		<%- include('./partials/headerLogueado') %>
	<% } else { %>
		<%- include('./partials/header') %>
	<% } %>

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Ingresar</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<form class="form" action="/profile/login" method="POST">
				<div>
					<label>Mail:</label><input type="text" name="mail" id="mail" value="<%= locals.old && old.mail ? old.mail : "" %>" required>
					<% if (locals.errores) { %>
						<% for (let error in errores) {%>
							<p> <%= errores[error].msg %></p>
						<% } %>
					<% } %>
				</div>
				<div>
					<label>Contraseña:</label><input type="password" name="contrasenia" id="contrasenia" required>
					<% if (locals.errores) { %>
						<% for (let error in errores) {%>
							<p> <%= errores[error].msg %></p>
						<% } %>
					<% } %>
				</div>
				<div>
					<label><input type="checkbox" id="recordarme" value="recordarme" /> Recordarme </label>
				</div>
				<div>
					<button type="submit">Enviar</button>
				</div>
			</form>


<%- include('./partials/footer') %>
</body>

</html>