<%- include('./partials/head') %>

<body>
	<%- include('./partials/header') %>

	<!-- product detail -->
	<div class="container products-wrapper">
		<div class="d-flex align-items-center">
			<h2 class="products-title">Nombre del producto</h2> 
			<p class="product-detail-description">
				<a href="/product/edit">Editar</a>
			</p>
		</div>
		<% for (let i = 0; i < lista.length; i++) { %>
		<div class="product-detail">
			<div class="row">
				<article class="col-12 col-lg-8 product-detail-info">
					<img src="<%= lista[i].imagen %>" alt="" class="product-detail-img">
					<p class="product-detail-description">
						<%= lista.descripcion %></p>
				</article>
				<div class="col-12 col-lg-4">
					<section class="comments">
						<% for (let ii = 0; ii < lista[i].comentarios.length; ii++) { %>								
						<article>
							<img src="<%= lista[i].comentarios[ii].foto %>" alt="">
							<div class="data">
								<p class="user">
								<strong> <a href="/profile"> <%= lista[i].comentarios[ii].usuario %> </a> </strong>
									<%= lista[i].comentarios[ii].comentario %>
							</div>
						</article>
						<% } %>
		<% } %>
					</section>
					<form class="form" action="" method="POST">
						<input class="form-input" type="text" value="" placeholder="Agregar comentario">
						<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
					</form>
					<hr>
				</div>
			</div>
		</div>
	</div>
	<!-- /product detail -->

	<%- include('./partials/footer') %>

</body>	
</html>