<%- include('./partials/head') %>

<body>
	<% if (locals.user != undefined) { %>
		<%- include('./partials/headerLogueado') %>
	<% } else { %>
		<%- include('./partials/header') %>
	<% } %>

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Registrate</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<form class="form" action="/profile/register" method="POST">
				<div>
					<% if (locals.errores) { %>
						<% for (let error in errores) {%>
							<p style="color:wheat; font-size: 15px;" > <%= errores[error].msg %></p>
						<% } %>
					<% } %>
				</div>
				<div>
					<label>Email:</label><input type="email" name="mail" id="mail" value="<%= locals.old && old.mail ? old.mail : "" %>" required>
				</div>
				<div>
					<label>Contraseña:</label><input type="password" name="contrasenia" id="" required>
				</div>
				<div>
					<label>Fecha de nacimiento:</label><input type="date" name="fecha" id="fecha" value="<%= locals.old && old.mail ? old.fecha : "" %>" required>
				</div>
				<div>
					<label>Numero de documento:</label><input type="number" name="dni" id="dni" value="<%= locals.old && old.mail ? old.dni : "" %>" required>
				</div>
				<div>
					<label>Foto de perfil:</label><input type="text" name="fotoUsuario" value="<%= locals.old && old.mail ? old.fotoUsuario : "" %>" id="">
				</div>
				<div>
					<button type="submit">Enviar</button>
				</div>
			</form>


	<%- include('./partials/footer') %>

</body>

</html>