<%- include('./partials/head') %>

<body>
	<% if (locals.user != undefined) { %>
		<%- include('./partials/headerLogueado') %>
	<% } else { %>
		<%- include('./partials/header') %>
	<% } %>

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Registrate</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<form class="form" action="/profile/register" method="POST">
				<div>
					<label>Email:</label><input type="email" name="mail" id="" required>
					<% if(locals.errores && errores.mail) { %>
						<p> <%= errores.mail %></p>
					<% } %>
				</div>
				<div>
					<label>Usuario:</label><input type="text" name="usuario" id="" required>
					<% if(locals.errores && errores.usuario) { %>
						<p> <%= errores.usuario %></p>
					<% } %>
				</div> 
				<div>
					<label>Contraseña:</label><input type="password" name="contrasenia" id="" required>
					<% if(locals.errores && errores.contrasenia) { %>
						<p> <%= errores.contrasenia %></p>
					<% } %>
				</div>
				<div>
					<label>Fecha de nacimiento:</label><input type="date" name="fecha" id="" required>
					<% if(locals.errores && errores.fecha) { %>
						<p> <%= errores.fecha %></p>
					<% } %>
				</div>
				<div>
					<label>Numero de documento:</label><input type="number" name="dni" id="" required>
					<% if(locals.errores && errores.dni) { %>
						<p> <%= errores.dni %></p>
					<% } %>
				</div>
				<div>
					<label>Foto de perfil:</label><input type="file" name="fotoUsuario" id="">
				</div>
				<div>
					<button type="submit">Enviar</button>
				</div>
			</form>


	<%- include('./partials/footer') %>

</body>

</html>